*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

body{
    background-color: var(--corBranca);
}

:root {
    --corOffWhite : #E3E3E3;
    --corBranca :#FFF;
    --corAzul : #0099ff;
    --corPreta : #000000;
    --corVerde: #adff2f;
    --corVermelha : #db0e0e;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/*Estilização da Header*/
header {
   background-color: var(--corBranca);
   padding: 10px 20px;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 75px;
}

header .menu nav ul{
    list-style-type: none;
}

header .menu nav ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 17px;
}

header .menu nav ul li a{
    color: var(--corPreta);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu nav a:hover{
    transform: scale(1.05);
}

.menu a {
    text-decoration: none;
    color: var(--corAzul) ;
    font-weight: 750;
}

/* Estilização Intro */
section.intro-site{
    background-color: var(--corBranca);
    padding: 30px 20px;
}

section.intro-site h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

section.intro-site form{
    display: flex;
    flex-direction: column; /* campos em coluna */
    gap: 15px; /* espaçamento */
    max-width: 400px;
    margin: auto;
}

section.intro-site form .row p {
    font-weight: 600;
}

section.intro-site .row {
  display: flex;
  gap: 15px;
}

section.intro-site input[type="text"],
section.intro-site input[type="number"] {
    flex: 1;
    padding: 15px;
    border: 1px solid;
    border-radius: 8px;
}

section.intro-site input[type="submit"]{
    background-color: var(--corPreta);
    color: var(--corBranca);
    padding: 12px 28px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

section.intro-site input[type="submit"]:hover {
  background-color: var(--corAzul);
  transform: scale(1.02);
}

/* Estilização Tabela */
section.stocklist {
    padding: 40px 20px;
}

section.stocklist h2 {
    text-align: center;
    color : var(--corAzul);
    margin-bottom: 20px;
}

section.stocklist table {
    width: 100%;
    border-collapse: collapse; /* remover espaçamento entre as células */
    background-color: var(--corBranca);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

section.stocklist thead {
    background-color: var(--corAzul);
}

section.stocklist th, td {
    padding: 12px 16px;
    text-align: center;
    vertical-align: middle;

}

.stocklist td:first-child {
    text-align: left; /* alinhar nome do produto*/
}

.stocklist td:nth-child(2) {
    text-align: center; /* alinhar quantidade*/
}

.stocklist td.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.stocklist th:first-child,
.stocklist td:first-child {
    width: 60%;
    text-align: left;
}

.stocklist th:nth-child(2),
.stocklist td:nth-child(2) {
    width: 20%;
}

.stocklist th:last-child,
.stocklist td:last-child {
    text-align: center;
}

section.stocklist th {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05px;
}

section.stocklist tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* efeito zebra */
}

section.stocklist tbody tr:hover {
    background-color: #eef6ff; /* leve azulado no hover */
}

section.stocklist td:last-child {
    text-align: center;
}

section.stocklist td.actions{
    text-align: center;
}

section.stocklist .actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    transition: transform 0.02s ease;
}

section.stocklist .actions button:hover{
    transform:  scale(1.2);
}

.btn-edit i {
    color: var(--corAzul);
}

.btn-delete i {
    color: var(--corVermelha);
}

/*Caixa de Busca*/
.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input{
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/*Mostrar/Ocultar o Estoque*/
#estoque {
    display: none;
}

#estoque.ativo{
    display: block;
}




